/*
  Inicio das condigurações das seções
*/
.inicio, .cursos, .contatos, .parceiros, .missao, .sobre, .titulo, footer{
  text-align: center;
  border: 1px solid black;
}
.inicio{
  height: 90vh;
  background-color: silver;
}
#confirmar {
  margin: 15vh;
}
#logo{
  width: 320px;
  height: 160px;
}
